.divBotao {
  margin-top: 30px;
  display: flex;
  justify-self: center;
}

.botao {
  height: 50px;
  width: 100px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
